*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: black;
}

#container{
    margin-left: 40% ;
    margin-top: 17%;
    position: relative;
}
#back2{
    position: absolute;
    top: 8%;
    left: 1%;
    filter: saturate(0%);
    transition: all 1s ease;
}
#card{
    width: 310px;
}

#robot{
    position: absolute;
    top: 6%;
    left: 3%;
    width: 20%;
    height: 70%;
    transition: all 0.5s ease;
    transform-origin: bottom; /* Set the transform origin to the top */
    transform: scale(1,0.93); 
}

#card:hover #robot{
    transform: scale(1.3,1.2);
    opacity: 1;
}

#card:hover #back2{
    filter: saturate(100%);
}

h1{
    color: white;
    text-align: center;
    width: 25%;
    font-size: 30px;
}