.footer {

  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background-color: #0F1321;
}

.footer-header {
  align-items: center;
  align-content: center;
  margin-top: 1%;
  
}




.footer-yk {
  align-items: center;
  align-content: center;
  margin-top: 1%;
 margin-right: 10px;
}