/* .footer {

  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background-color: #0F1321;
  overflow: hidden;
} */

/* .footer-header {
  align-items: center;
  align-content: center;
  margin-top: 1%;
  
}

.footer-yk {
  align-items: center;
  align-content: center;
  margin-top: 1%;
 margin-right: 10px;
} */
 
.footer{
  overflow: hidden;
  background-color: #0F1321;
  height: 40vh;
  width: 100vw;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.yasya{
  position: relative;
  height: 25vh;
  width: 25vh;
  /* margin-left: 30%; */
}

.x{
  position: relative;
  margin-left: 10%;
  margin-top: -100%;
  align-items: center;
  
}

.yukthi{
  
  height: 25vh;
  width: 25vh;
  margin-left: 10%;
  /* margin-top: -100%;
  
  margin-left: 50%; */
}

.foot{
  margin-left: 32%;
  align-items: auto;
}