@font-face {
    font-family: 'changuttan';
    /* Name your font family */
    src: url('assets/Changeling_Neo/Changeling\ Neo\ Bold.otf');
    /* Locate the .ttf file within your directory*/
}



body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'changuttan';
    text-transform: uppercase;
}

#firsth1 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    -webkit-text-stroke: black 0.4px;
    color: white;
    transition: all 0.5s ease;
}

.mainbody {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#bluewhite {
    width: 100%;
    height: 100vh;
    /* Set a fixed height */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    transition: 1.5s ease;
    /* Add transition for width */
}

#elementsleft,
#elementsmiddle,
#elementsright {
    position: absolute;
    top: 12%;
    filter: drop-shadow(0 0 0.75rem black);
}

#elementsleft {
    left: 0;
}

#elementsmiddle {
    left: -10%;
}

#elementsright {
    right: 0;
}