@font-face {
    font-family: 'changuttan';
    /* Name your font family */
    src: url('assets/Changeling_Neo/Changeling\ Neo\ Light.otf');
    /* Locate the .ttf file within your directory*/
}
*{
    padding: 0;
    margin: 0;
    font-family: 'changuttan';
}
/* body */
body{
    background-color: #101321;
    
}

#yulog{
    width: 300px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* yukthi */
#yukthi{
    
    position: relative;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/* #yukthilogo1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220%;
} */
#yukthi251{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

#yukthi251 , #yulog{
    margin-top: 20px;
}
#robot1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: saturate(200%);
    width: 120%;
    height: 60%;
}
.heading{
    margin: auto;
    margin-top: 8% ;
    font-size: 40px;
    color: #fff;
}
.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width:400px) {

    #yulog{
        width: 250px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #yukthi251{
        margin-top: 28px;
        width: 90%;
    }
}