body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 30px;
    -webkit-text-stroke: black 0.6px ;
    text-shadow: white 1px 1px 1px;
    color: transparent;
}

.mainbody{
    display: flex;
}

#bluewhite {
    width: 100%;
    height: 100vh; /* Set a fixed height */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    transition:  1.5s ease; /* Add transition for width */
}



#bluebox {
    width: 55%;
    height: 100vh;
    /* border: red 2px solid; */
    position: absolute;
    top: 0;
    left: 0;
}

#whitebox {
    width: 45%;
    height: 100vh;
    /* border: red 2px solid; */
    position: absolute;
    top: 0%;
    left: 55%;
}

#bluebox:hover ~ #bluewhite {
   width: 210%;
}
#bluebox:hover {
    width: 80%;
 }
#bluebox:hover #yingyang{
    transform: rotate(150deg);
    left: 5%;
}
#bluebox:hover #womanimg{
    width: 48%;
    height: 80%;
    
}
#bluebox:hover ~ #whitebox{
    transform: translate(50%);
}
#bluebox:hover #yasyalogo{
    transform: translate(400%);
    height: 30%;
    top: 40%;
}
#whitebox:hover ~ #bluewhite {
    transform: translateX(-50%); /* Move the bluewhite div to the right */
   width: 55%;
}

#womanimg{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 0%;
    
}
#yingyang{
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 8%;
    transition: 1s ease;
}

#yasyalogo{
    transform: translate(5%);
    position: absolute;
    z-index: -2;
    transition: 1s ease;
}