:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1920px;
    height: 9371px;
    margin: 0 auto;
    font-size: 0px;
    background: #ffffff;
    overflow: hidden;
  }
  .our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1053px;
    height: 192px;
    margin: 111px 0 0 493px;
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 165.3396453857422px;
    font-weight: 700;
    line-height: 191.959px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 4;
  }
  .frame-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 57px;
    position: relative;
    width: 1099px;
    margin: 101px 0 0 426px;
    z-index: 107;
  }
  .yasya-staff-coordinators {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 71px;
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 60.75889205932617px;
    font-weight: 700;
    line-height: 70.541px;
    text-align: left;
    white-space: nowrap;
    z-index: 108;
  }
  .group {
    flex-shrink: 0;
    position: relative;
    width: 1022px;
    height: 338px;
    z-index: 109;
  }
  .group-2 {
    position: absolute;
    width: 1022px;
    height: 338px;
    top: 0;
    left: 0;
    background: url(./assets/images/f73e7bcc-ca68-4a4e-a936-31fbd55eacee.png)
      no-repeat center;
    background-size: cover;
    z-index: 110;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 60px;
    position: relative;
    width: 1120px;
    margin: 167px 0 0 415px;
    z-index: 27;
  }
  .yukthi-staff-coordinators {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 71px;
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 60.75889205932617px;
    font-weight: 700;
    line-height: 70.541px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .group-4 {
    flex-shrink: 0;
    position: relative;
    width: 1022px;
    height: 338px;
    z-index: 29;
  }
  .group-5 {
    position: absolute;
    width: 1022px;
    height: 338px;
    top: 0;
    left: 0;
    background: url(./assets/images/aeb69c9b-9757-444e-8a08-099bc9bd68ec.png)
      no-repeat center;
    background-size: cover;
    z-index: 30;
  }
  .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 78px;
    position: relative;
    width: 1629px;
    margin: 193px 0 0 161px;
    z-index: 5;
  }
  .student-coordinators {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 71px;
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 60.75889205932617px;
    font-weight: 700;
    line-height: 70.541px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
  }
  .group-7 {
    flex-shrink: 0;
    position: relative;
    width: 1629px;
    height: 751px;
    z-index: 7;
  }
  .frame-8 {
    position: relative;
    width: 1629px;
    height: 338px;
    margin: 0 0 0 0;
    background: url(./assets/images/655b0526-ae55-4b35-8207-eee897ad3c12.png)
      no-repeat center;
    background-size: cover;
    z-index: 26;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 765px;
    height: 338px;
    margin: 75px 0 0 432px;
    z-index: 17;
  }
  .component {
    flex-shrink: 0;
    position: relative;
    width: 343px;
    height: 338px;
    font-size: 0px;
    z-index: 8;
  }
  .image {
    display: block;
    position: relative;
    height: 41px;
    margin: 138px 0 0 119px;
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 30.931798934936523px;
    font-weight: 700;
    line-height: 35.912px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .rectangle {
    position: absolute;
    width: 343px;
    height: 338px;
    top: 0;
    left: 0;
    background: #4a4a4a;
    z-index: 9;
    border-radius: 13px;
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 41px;
    top: 242px;
    left: calc(50% - 145.5px);
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 30.931798934936523px;
    font-weight: 700;
    line-height: 35.912px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .vector {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 257px;
    left: 269px;
    background: url(./assets/images/5d7d64b1-31e5-4d43-8c4a-11ddc04e5652.png)
      no-repeat center;
    background-size: cover;
    z-index: 16;
  }
  .instagram-default {
    position: absolute;
    width: 32px;
    height: 37.333px;
    top: 263.917px;
    left: 284px;
    z-index: 13;
  }
  .frame-9 {
    position: absolute;
    width: 309.333px;
    height: 357.692px;
    top: 0;
    left: 0;
    z-index: 14;
  }
  .group-a {
    position: relative;
    width: 14.367px;
    height: 11.512px;
    margin: 346.18px 0 0 155.973px;
    background: url(./assets/images/1bc23384-e739-4466-a71d-58d4435ccefd.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 15;
  }
  .title-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 152px;
    height: 41px;
    top: 271px;
    left: calc(50% - 146.5px);
    color: #ffffff;
    font-family: Changeling Neo, var(--default-font-family);
    font-size: 15.931798934936523px;
    font-weight: 700;
    line-height: 18.497px;
    text-align: left;
    z-index: 10;
  }
  .component-b {
    flex-shrink: 0;
    position: relative;
  }