#thirdpage {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 620%;
    background-color: #0F1321;
    color: white;
    margin-top: -10%;
}

#teamh1 {
    text-align: center;
    width: 100%;
    font-size: 250px;
    -webkit-text-stroke: black 3px;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    opacity: 1;
    color: white;
}

.titlehead {
    text-align: center;
    /* margin-bottom: 50px; */
}

.card-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* Adds space between cards */
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #3B3729;
    width: 343px;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.cardimg {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
    /* Adjust as needed */
    object-fit: cover;
    /* Ensures the image covers the area */
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

.card:hover {
    /* background: transparent; */
    box-shadow: 0 0 100px #9b2281;
}

.container {
    padding: 20px;
    text-align: center;
}