* {
    margin: 0%;
    padding: 0%;
}

#timercontainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    
    background-color:#0F1321 ; 
    /* padding-right: 26.5%; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.time {
    position: absolute;
    background: linear-gradient(to right, #2b0368, #7d4bab);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.25px whitesmoke;
    background-clip: text;
    color: transparent;
    font-size: clamp(2rem, 8vw, 10rem);
    text-transform: uppercase;
    z-index: 10;
}

/* Additional breakpoints for better responsiveness */
@media screen and (max-width: 768px) {
    .time {
        font-size: clamp(1.5rem, 6vw, 5rem);
    }
}

@media screen and (max-width: 480px) {
    .time {
        font-size: clamp(1rem, 5vw, 3.5rem);
    }
}