#bluebox {
    width: 55%;
    height: 100vh;
    /* border: red 2px solid; */
    position: absolute;
    top: 0;
    left: 0;
}

#bluebox:hover~#bluewhite {
    width: 210%;
}

#bluebox:hover {
    width: 80%;
}

#bluebox:hover #yingyangya {
    transform: rotate(150deg);
}



#bluebox:hover #womanimg {
    width: 48%;
    height: 80%;

}

#bluebox:hover~#whitebox {
    transform: translate(50%);
}

#bluebox:hover #yasyalogo {
    visibility: hidden;
    transform: translate(400%);
    height: 30%;
    top: 40%;

}

#bluebox:hover #yasyalogoafter {
    visibility: visible;
    width: 20%;
    height: 50%;
    opacity: 0.2;
    transform: translateX(355%);
    top: 25%;
}

#womanimg {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 25%;
    left: 0%;
}

#yingyangya {
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 8%;
    transition: 1s ease;
    transform: rotate(-20deg);
}

#yasyalogo {
    transform: translate(5%);
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    transition: transform 1s ease;
}

#yasyalogoafter {
    position: absolute;
    visibility: hidden;
    transition: transform 1s ease;
    z-index: -3;
    opacity: 0;
    top: -30%;
}

#yasyatag {
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    left: 56%;
    text-align: left;
    visibility: hidden;
}

#yasyatitleimg {
    position: absolute;
    top: 20%;
    left: 10%;
    filter: drop-shadow(0 0 0.75rem black);
    transition: transform 1s ease;
}

#yasyabutton {
    position: absolute;
    height: 75px;
    width: 175px;
    top: 78%;
    left: 58%;
    border: none;
    background-color: white;
    visibility: hidden;
    font-size: 20px;
    border-radius: 0px 30px 0px 30px;
    text-align: center;
    font-family: 'changuttan';
}

#yasyabutton:hover {
    background-color: #0F1321;
    color: white;
    transition: 0.5s ease;
}

#yin{
    position: absolute;
    top: 39%;
    left: 10%;
    opacity: 0.8;
    mix-blend-mode: difference;
    visibility: hidden;
}