#whitebox {
    width: 45%;
    height: 100vh;
    /* border: red 2px solid; */
    position: absolute;
    top: 0%;
    left: 55%;
}

#whitebox:hover~#womanimg {
    visibility: hidden;
}

#whitebox:hover~#bluewhite {
    transform: translateX(-50%);
    width: 55%;
}

#whitebox:hover {
    width: 80%;
    transform: translate(-40%);
}

#whitebox:hover #yingyangyu {
    transform: rotate(-150deg);
}

#whitebox:hover #robotimg {
    width: 50%;
    height: 80%;
    transform: translate(-10%);
}

#whitebox:hover #yukthilogo {
    width: 20%;
    height: 30%;
    top: 35%;
    transform: translate(20%);
}

#robotimg {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 25%;
    right: 0%;
}

#yingyangyu {
    position: absolute;
    z-index: -1;
    top: 5%;
    right: 8%;
    transition: transform 1s ease;
}

#yukthilogo {
    position: absolute;
    z-index: -2;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    transition: transform 1s ease;
}

#yukthitag {
    position: absolute;
    top: 50%;
    left: -35%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    width: 90%;
}

#yukthititleimg {
    position: absolute;
    top: 25%;
    left: 10%;
    filter: drop-shadow(0 0 0.75rem white);
    transition: transform 1s ease;
}

#yukthibutton {
    position: absolute;
    top: 75%;
    left: 10%;
    height: 75px;
    width: 175px;
    border-radius: 30px 0px 30px 0px;
    border: none;
    text-align: center;
    font-size: 20px;
    background-color: #0F1321;
    color: white;
    visibility: hidden;
}

#yukthibutton:hover {
    background-color: #ffffff;
    color: #0F1321;
}

#yang {
    position: absolute;
    top: 40%;
    left: 42%;
    opacity: 0.8;
    mix-blend-mode: difference;
    visibility: hidden;
}