@font-face {
    font-family: 'changuttan';
    /* Name your font family */
    src: url('../../assets/Changeling_Neo/Changeling\ Neo\ Regular.otf');
    /* Locate the .ttf file within your directory*/
}
*{
    padding: 0;
    margin: 0;
    font-family:'changuttan';
}

#workshopbody{
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/Workshops.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hacktitle{
    position: absolute;
    top: 30%;
    right: 35%;
    width: 50%;
}

#hacktext{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 40%;
    font-size: 20px;
    font-family: 'changuttan';
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.2;
}
#hackbutton{
    position: absolute;
    height: 75px;
    width: 175px;
    top: 70%;
    left: 15%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 22px;
    border-radius: 0px 30px 0px 30px;
    text-align: center;
    font-family: 'changuttan';
}
#hackbutton:hover{
    background-color: rgba(255, 255, 255);
    color: black;
    transition: all 0.5s ease;
}
#yudham{
    position: absolute;
    height: 600px;
    transition: all 0.2s;
    filter: drop-shadow(0px 0px 10px black);
}
#hackcontainer{
    position: absolute;
    top: 25%;
    left: 70%;
}
#titletext{
    position: absolute;
    top: 22%;
    left: 13%;
    font-size: 150px;
}